@font-face {
    font-family: 'Elden Ring';
    src: url('css/Mantinia Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.eldenFont {
    font-family: 'Elden Ring';
    text-transform: uppercase;
}

.mainTitle{
    color:#ef8b09;
}

.title{
    color:#476748;
    text-transform: uppercase;
}

.subtitle{
    color:#1A2325;
}

.panel{
    background-color:#163D3A;
}

.mainPage{
    background-image: url('../img/1186452.jpg'); 
    background-repeat: no-repeat; 
    background-size: 100%; 
    color: white;
}

footer{
    clear:both;
}

.sidebar{
    float: left;
}

.fraseCelebre{
    width: 25%;
    float: left;
}

.contenido{
    clear:both;
}

.sectionTextLeft{
    width: 60%;
    float: left;
}

.sectionImg{
    width: 40%;
    float:left;
    text-align: center;
}

.sectionImg img{
    width: 100%;
}

hr{
    clear: both;
}