@font-face {
    font-family: 'Elden Ring';
    src: url('css/Mantinia Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.eldenFont {
    font-family: 'Elden Ring';
    text-transform: uppercase;
}

.mainTitle{
    color:#ef8b09;
}

.title{
    color:#476748;
    text-transform: uppercase;
}

.subtitle{
    color:#1A2325;
}

.panel{
    background-color:#163D3A;
}

.mainPage{
    background-image: url('../img/Fondo Principal.jpg'); 
    background-repeat: repeat; 
    background-size: 100%; 
    color: white;
}

.mapPage{
    background-image: url('../img/Fondo Mapa.jpeg'); 
    background-repeat: repeat; 
    background-size: 100%; 
    color: white;
}

.pjPage{
    background-image: url('../img/Fondo Personajes.jpeg'); 
    background-repeat: repeat; 
    background-size: 100%; 
    color: white;
}

.eqPage{
    background-image: url('../img/Fondo Equipamiento.jpeg'); 
    background-repeat: repeat; 
    background-size: 100%; 
    color: white;
}

footer{
    clear:both;
}

footer #volver{
    width: 100%;
}

.sidebar{
    float: left;
}

.fraseCelebre{
    width: 25%;
    float: left;
}

.contenido{
    clear:both;
}

.sectionTextLeft{
    width: 60%;
    float: left;
}

.sectionImg{
    width: 40%;
    float:left;
    text-align: center;
    color: #476748;
}

#queEsER img{
    width: 100%;
}

#creador img{
    width: 60%;
}

hr{
    clear: both;
}